@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto-Sans-JP, sans-serif;
    font-weight: 400;
    color: #000080;
    background-color: #89CFF0;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #203354;
}

.active {
    border-bottom: 1px solid #203354;
}

/* Home page image */

#home-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    display: block;
}

#home-page {
    object-fit: cover;
    height: 650px;
    width: 100%;
    background: url(../css/images/fingers2.jpg) no-repeat center center;
 
}

/* Your Journey image */

#journey-outer {
    object-fit: fill;
    height: 650px;
    width: 100%;
    overflow: hidden;
    display: block;
}

#journey-page {
    height: 650px;
    width: 100%;
    background: url(../css/images/yourjourney.jpeg) no-repeat center center;
}

/* contact page image */

#contact-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    display: block;
}

#contact-page {
    height: 650px;
    width: 100%;
    background: url(../css/images/homepage.jpeg) no-repeat center top;
 
}

/* footer */

footer {
    height: 150px;
}

.contact-details {
    text-align: left;
    float: left;
    font-size: 80%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
    padding: 10px;
    width: 33%;
}

.times {
    text-align: right;
    float: right;
    font-size: 80%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
    padding: 10px;
    width: 33%;
}

.social {
    text-align: center;
    float: none;
    font-size: 400%;
    padding: 1px;
}

/* text styling*/

p {
    text-align: center;
    float: none;
    font-size: 100%;
    font-family: Noto-Sans-JP, sans-serif;
    color: #000080;
    padding: 15px;
}

/* Mobile responsiveness*/

@media screen and (max-width: 950px) {
    #logo {
        width: 100%;
        font-size: 110%;
        clear: none;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 80%;
    }

    #home-outer {
        height: 325px;
        width: 100%; 
    }

    #journey-outer {
        height: 325px;
        width: 100%; 
    }

    #contact-outer {
        height: 325px;
        width: 100%; 
    }

    footer {
        width: 100%;
        font-size: 75%;
    }

}