@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto Sans JP, sans-serif;
    font-weight: 400;
    color: #000080;
    background-color: #89CFF0;
}

/* headings and logo */

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #203354;
}

.active {
    border-bottom: 1px solid #203354;
}

/* Home page image */

#home-outer {
    height: 525px;
    width: 100%;
    overflow: hidden;
}

#home-page {
    height: 525px;
    width: 100%;
    background: url(../css/images/fingers.jpg) no-repeat center center;
}

/* Your Journey image */

#journey-outer {
    height: 525px;
    width: 100%;
    overflow: hidden;
}

#journey-page {
    height: 525px;
    width: 100%;
    background: url(../css/images/fingerpaint.jpg) no-repeat center center;
}

/* footer */

footer {
    height: 150px;
}

.contact-details {
    text-align: left;
    float: left;
    font-size: 80%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
    padding: 10px;
    width: 50%;
}

.times {
    text-align: left;
    float: right;
    font-size: 80%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #203354;
    padding: 10px;
    width: -100%;
}

.social {
    text-align: justify;
    float: none;
    font-size: 400%;
    padding: none;
}

/* text styling*/

p {
    text-align: center;
    float: none;
    font-size: 100%;
    font-family: Noto Sans JP, sans-serif;
    color: #000080;
    padding: 15px;
}